NIA Intro to Python Class - May 16, 2017

# Day 2: Iterables and Operators

* An [iterable](http://docs.python.org/2/glossary.html#term-iterable) is a container object capable of returning its members one at a time.
* An [operator](https://en.wikipedia.org/wiki/Operator_%28computer_programming%29) is a type of function that returns a value based on the values its next to.
* In this notebook we explore of some of the most important iterable types built into Python.

### Table Of Contents
1. [Lists](#lists)
2. [Tuples](#tuples)
3. [Dictionaries](#dicts)
4. [Sets](#sets)
5. [Slicing Iterables](#slice)
6. [Iterables of Iterables](#compound)
8. [Operators and Operations On Iterables](#using)
9. [Basic Sorting](#sort)

---

## <a name="lists">Lists</a>

* Container for a group of values
* Can all be the same type or different, doesn't matter.
* Declared by bracket outside, comma delimited within.
* The order of the values in the list is remembered
* Is mutable = Can append/insert new values to the list, and remove values.
* As with all iterables in Python, the values in a list are indexed starting with 0.

In [35]:
a_list = [1,2,3,"a dog"]

In [19]:
a_list

[1, 2, 3, 'a dog']

### Append another value to the list

In [10]:
a_list.append( "Hi there!" )

In [15]:
a_list

[1, 2, 3, 'a dog']

### Get the Nth value out of a list

Use open/close brackets [] to get at the Nth thing in the list.

In [21]:
a_list[4]

IndexError: list index out of range

### Delete a value in the list

use the keyword <code>del</code> to delete an item in the list.

In [22]:
a_list

[1, 2, 3, 'a dog']

In [23]:
del a_list[2] # Remember, the count starts at 0

In [25]:
a_list.remove( "a dog")

In [26]:
a_list

[1, 2]

### Empty list

A list can have one or zero values in it.

In [27]:
empty_list = []

In [28]:
len( empty_list )

0

In [29]:
len( a_list)

2

In [30]:
a_list

[1, 2]

In [31]:
a_list[2]

IndexError: list index out of range

In [32]:
empty_list.append( "sumn" )

In [33]:
len( empty_list )

1

In [34]:
empty_list

['sumn']

In [36]:
a_list

[1, 2, 3, 'a dog']

In [37]:
list( enumerate( a_list))

[(0, 1), (1, 2), (2, 3), (3, 'a dog')]

## <a name="tuples">Tuples</a>

* The name "tuple" comes from math concept, i.e., quadruple, quintuple, sextuple, ... n-tuple
* A tuple is just an immutable list: once you make it, you can't change it.
* The order of the values in the list is remembered.
* Usually declared by surrounding a comma-separated sequence with optional parentheses

In [38]:
a_tuple = 1, 2, 3, "four"

In [40]:
a_list

[1, 2, 3, 'a dog']

In [39]:
a_tuple

(1, 2, 3, 'four')

In [41]:
readable_tuple = ( 1, 2, 3, "four" ) # Parentheses are optional

In [42]:
empty_tuple = ()

In [43]:
len( empty_tuple)

0

In [44]:
tuple_with_one_item = ("an item",)

In [45]:
len( tuple_with_one_item )

1

In [46]:
# Index notation works for tuples too
a_tuple[3]

'four'

## <a name='dicts'>Dictionaries</a>

* A <code>dict</code> is associative array, where "keys" are mapped to "values."
* DOES NOT KEEP TRACK OF ORDER OF KEY-VALUE PAIRS (for that you need <code>collections.OrderedDict</code>)

### Create an empty <code>dict</code>

Declare empty dict with {}, or dict().

In [47]:
a_dict = {}

In [48]:
type( a_dict )

dict

### Create a <code>dict</code> with stuff in it

The keys are separated by the values by a colon (:), and the key-value pairs are separated by commas.

In [49]:
a_dict = {"key 1":"value 1", 2:3, 4:['a','list'], 
          "expects spanish inquisition": "hi"}

In [50]:
a_dict

{'key 1': 'value 1',
 2: 3,
 4: ['a', 'list'],
 'expects spanish inquisition': 'hi'}

To get a value out of a dict, put the key into the brackets.

In [51]:
simple = { 1 : 'a', 2 : 'b', 3: 'c'}

In [52]:
simple[1]

'a'

In [56]:
2 in simple

True

### Get a list of all the keys of a <code>dict</code>

Return a list of keys by calling the <code>.keys()</code> function on any dict.

In [58]:
simple.keys()

dict_keys([1, 2, 3])

### Get a list of all the values of a <code>dict</code>

Use <code>.values()</code>

In [59]:
# Return a list of values:
simple.values()

dict_values(['a', 'b', 'c'])

In [60]:
numbers = [10,20, 30]

In [61]:
letters = ['A', 'B', 'C']

In [63]:
list( zip( numbers, letters) )

[(10, 'A'), (20, 'B'), (30, 'C')]

In [64]:
dict( zip( numbers, letters) )

{10: 'A', 20: 'B', 30: 'C'}

### KeyError exception

If you reference a key that's not there, a KeyError exception is raised

In [65]:
a_dict[3]

KeyError: 3

### Advanced topic: key-value directionality

<code>dicts</code> only go in one direction, i.e., you can't put in a value and get out a key. Keys map to values, but not vice versa

Here's a little code snipped reversing the directionality using a something called a [dict comprehension](http://www.bogotobogo.com/python/python_dictionary_comprehension_with_zip_from_list.php)

In [ ]:
keys_to_values = {1:'a', 2:'b', 3:'c', 4:'d'}

In [ ]:
keys_to_values[3]

In [ ]:
keys_to_values['c']

In [ ]:
values_to_keys = \
   { (second, first) for first, second in keys_to_values.items() }

In [ ]:
values_to_keys

## <a name="sets">Sets</a>

* Similar to math concept of sets; has operations like union, intersection, etc.
* Sets are unindexed, unordered, and contains no duplicates.
* My personal favorite of the Python standard types!

### Create an empty <code>set</code>

Make an empty using <code>set()</code>.

In [66]:
empty_set = set() # not {}, that would be an empty dict

In [67]:
empty_set

set()

In [68]:
len(empty_set)

0

### Create a <code>set</code> with stuff in it

Declare a set by putting values inside braces.

In [69]:
a_set = {'set', 'of', 'words'}

In [70]:
some_set = {0, (), False}

In [71]:
type( some_set )

set

### The Union operator for sets

The union: all unique things in the Venn diagram. All regions.

Use the pipe character <code>|</code> to take the union of two sets.

In [72]:
set1 = {12,34,56,78,90,42}

In [73]:
set2 = {1,23,45,67,89,42}

In [74]:
set3 = set1 | set2

In [75]:
set3

{1, 12, 23, 34, 42, 45, 56, 67, 78, 89, 90}

### The Intersection operator for sets

The intersections is just the overlapped region in the Venn diagram. Use the ampersand (<code>&</code>) operator.

In [80]:
set4 = set1 & set2

In [81]:
set4

{42}

In [83]:
set1 ^ set2

{12, 34, 56, 78, 90}

In [85]:
list(set1)[2:3]

[12]

## <a name="slice">Slicing Iterables</a>

You can use the slice notation on list, tuples and strings. Strings are like a tuple of chararcters.

In [86]:
full_statement = \
   'The answer to life, the universe, and everything is 42'

### Subsets: slicing iterables into smaller ones

Return a substring using a brackets separated by a colon.

In [88]:
full_statement[3:22]

' answer to life, th'

### Slicing an iterable doesn't change the original iterable

Just because you just returned a substring from a string doesn't mean you changed the original string. Python created a new string and returned that

In [89]:
full_statement

'The answer to life, the universe, and everything is 42'

### Slicing syntax

<code>[begin index:end index:step]</code>

In [90]:
full_statement[3:32:3] # take every 3rd letter

' sroi,huvs'

### Slice from the beginning to the middle somewhere

Leave out the start index and Python assumes you want a slice starting from the beginning.

In [92]:
len( full_statement)

54

In [91]:
full_statement[:25]

'The answer to life, the u'

### Slice from the middle somewhere to the end

Leave out the end index and Python assumes you want a slice that goes straight to the end.

In [93]:
full_statement[25:]

'niverse, and everything is 42'

### Negative slice indices mean count from the end

If i is negative, index is relative to end of string:

In [94]:
full_statement[-25:]

'rse, and everything is 42'

### Reverse a the order of an iterable using the step parameter

Reverse a string by using a negative step value

In [95]:
"a man, a plan, a canal, panama"[::-1]

'amanap ,lanac a ,nalp a ,nam a'

In [101]:
test = "a man, a plan, a canal, panama"

In [102]:
test

'a man, a plan, a canal, panama'

In [100]:
str(test)

"['a', 'm', 'a', 'n', 'a', 'p', ' ', ',', 'l', 'a', 'n', 'a', 'c', ' ', 'a', ' ', ',', 'n', 'a', 'l', 'p', ' ', 'a', ' ', ',', 'n', 'a', 'm', ' ', 'a']"

## <a name="compound">Iterables of Iterables</a>

* It's fine as long as you don't violate the mutable rules

In [109]:
list1 = [1,2,3,4,5]

In [110]:
list2 = [6,7,8,9,10]

In [111]:
tuple1 = list1, list2

In [112]:
tuple1

([1, 2, 3, 4, 5], [6, 7, 8, 9, 10])

In [114]:
tuple1[1][3]

9

In [115]:
# I guess this is legal:
tuple1[0][0] = 99 # compound index notation
tuple1

([99, 2, 3, 4, 5], [6, 7, 8, 9, 10])

In [116]:
dict1 = {'list1': list1, 'list2': list2}

In [117]:
dict1

{'list1': [99, 2, 3, 4, 5], 'list2': [6, 7, 8, 9, 10]}

In [118]:
dict1['list2']

[6, 7, 8, 9, 10]

In [119]:
dict1['list1'].append( 555 )

In [120]:
dict1

{'list1': [99, 2, 3, 4, 5, 555], 'list2': [6, 7, 8, 9, 10]}

## <a name="using">Operators and Operations on Iterables</a>

In [121]:
test_list = [1, 2, "3", "four", (5,), set((6,))]

In [122]:
len(test_list)

6

### The <code>in</code> operator
"<code>x in s</code>" - a boolean expression to test if the value or substring x is in iterable s.

In [123]:
2 in test_list

True

### The <code>not in</code> operator

"<code>x not in s</code>" - Opposite of <code>in</code>.

In [124]:
2 not in test_list

False

In [125]:
name = "Chris Coletta"

In [126]:
"C" in name

True

In [127]:
"Chris" in name

True

In [128]:
name.startswith( "Chris")

True

In [129]:
name.endswith( "Chris")

False

### Concatenate iterables

The plus operator works on some iterable types but not others

In [130]:
[1,2,3] + [4,5,6]

[1, 2, 3, 4, 5, 6]

In [131]:
"abc" + "def"

'abcdef'

In [132]:
(1,2,3) + (4,5,6)

(1, 2, 3, 4, 5, 6)

In [133]:
set( (1,2,3) )  + set( (4,5,6) )

TypeError: unsupported operand type(s) for +: 'set' and 'set'

### The <code>len()</code> operator

<code>len()</code> returns the length of an iterable.

In [ ]:
len( test_list )

### The math operators

* <
* <=
* >
* \>=
* ==
* !=

Note the double equal signs is an operator, not an assignment!!

In [134]:
 5 <6

True

In [135]:
6 <= 6

True

In [136]:
-6 <= 6

True

In [138]:
6 != 6

False

In [139]:
not( 6 == 6)

False

In [142]:
set([1,2,3]) == set([3,2,1])

True

### The <code>min()</code> and <code>max()</code> operators

Gives the minumum/maximum value. Uses the math operators to compare.

In [143]:
test_list

[1, 2, '3', 'four', (5,), {6}]

In [144]:
min(test_list)

TypeError: '<' not supported between instances of 'str' and 'int'

In [146]:
max( [ 'a', 'b', 'c' ])

'c'

### The  <code>.count()</code> method

<code>some_list.count( some_value )</code> The number of times <code>some_value</code> appears in <code>some_list</code>

In [147]:
my_new_list = [0,1,2,3,3,2,1]

In [150]:
my_new_list.count( 'sdgf')

0

## <a name="sort">Basic Sorting</a>

* Use the <code>sorted</code> function to sort basic Python iterable types WITHOUT modifying the original.
* Use the <code>.sort()</code> method to sort an iterable in place.

In [152]:
sorted( my_new_list )

[0, 1, 1, 2, 2, 3, 3]

In [153]:
my_new_list

[0, 1, 2, 3, 3, 2, 1]

In [156]:
my_new_list.sort(reverse=True)

In [157]:
my_new_list

[3, 3, 2, 2, 1, 1, 0]

In [159]:
"hello"

'hello'